.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;

  &-Wrapper.segment {
    width: 64%;
    background-color: rgba(white, 0.5);
    border: none;
    box-shadow: 0 0 30px 30px rgba(white, 0.5);
  }

  &-Text.header {
    line-height: 1.8;
    margin-top: 2em;
  }
}
