.date {
  display: flex;
  justify-content: space-between;
  &__calendar {
    display: flex;
    flex-direction: column;
  }

  &__weekday {
    font-size: 2em;
    color: #556c87;
  }
  &__month {
    font-size: 1.5em;

  }
  &__time {
    font-size: 2em;
  }
}
