@import "./src/assets/variables";

.FlightsTable-TableRow.Flight {

  .Flight {

    &-TermCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 40px;
      height: 40px;
      color: $term-a;
      font-size: 20px;
      font-weight: 700;
      border-radius: 50%;
      border: 2px solid $term-a;

      &_d {
        color: $term-d;
        border-color: $term-d;
      }
    }

    &-Airline {

      &Image {
        margin-right: 10px;
      }
      &Name {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-Details {
      text-align: center;
      text-overflow: clip !important;
    }

    &-DetailsButton.basic.button {
      width: 100%;
      line-height: 1.2;

      &:hover {
        color: #fff !important;
        background-color: $blue !important;
      }
    }

    &-DetailsIcon.icon {
      margin-right: 12px !important;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .FlightsTable-TableRow.Flight {
    .Flight {

      &-DetailsIcon.icon {
        margin-right: 4px !important;
      }
    }
  }
}
