@import "./src/assets/variables";

.FlightsTable-TableRow.Flight {
  transition: box-shadow 200ms ease-out;

  &:nth-child(2n) {
    background-color: $bg-tr;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .Flight {
    &-TermCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 40px;
      height: 40px;
      color: $term-a;
      font-size: 20px;
      font-weight: 700;
      border-radius: 50%;
      border: 2px solid $term-a;

      &_d {
        color: $term-d;
        border-color: $term-d;
      }
    }

    &-Airline {

      &Image {
        margin-right: 10px;
      }
      &Name {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-Details {
      text-align: center;
      text-overflow: clip !important;
    }

    &-DetailsButton.basic.button {
      width: 100%;
      line-height: 1.2;

      &:hover {
        color: #fff !important;
        background-color: $blue !important;
      }
    }

    &-DetailsIcon.icon {
      margin-right: 12px !important;
    }
  }
}

@media (max-width: 995px) {
  .FlightsTable-TableRow.Flight {

    .Flight {
      &-DetailsIcon.icon {
        margin-right: 0 !important;
      }
      &-DetailsText {
        display: none;
      }
    }
  }
}

@media (max-width: $largestMobileScreen) {
  .FlightsTable-TableRow.Flight {

    &[class*="center aligned"]:hover {
      box-shadow: 0 5px 10px rgba(0,0,0,0.2) !important;
    }

    .Flight {
      &-DetailsButton.basic.button {
        color: #fff !important;
        background-color: $blue !important;

        &:hover {
          color: $blue !important;
          background-color: #fff !important;
        }
      }

      &-DetailsIcon.icon {
        margin-right: 15px !important;
      }
      &-DetailsText {
        display: inline;
        font-size: 15px;
      }
    }
  }
}
