body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background: #e7efec;
  color: #2f2f2f;
}

table {
  width: 1121px;
  background-color: #fff;
  border-collapse: collapse;
  text-align: left;
}

tr {
  line-height: 40px;
}

 td {
  padding: 12px;
  font-size: 18px;
}

td:first-child {
  padding-left: 25px;
}

 th {
  padding: 12px;
  color: rgb(179, 178, 178);
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0,102,135,.1);
}

tbody tr {
  transition: all .3s;
}

tbody tr:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

 tr:hover  a {
  opacity: 1;
  transition: all .3s;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: #1eb7ee;
  opacity: 0;
}

.term-a, .term-d {
  color: #63c745;
  font-weight: 700;
  border: 1px solid #63c745;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  font-size: 22px;
}

.term-d {
  color: #1eb7ee;
  border: 1px solid #1eb7ee;
} 

button {
  padding: 0;
  font-size: 24px;
  line-height: 60px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 60px 60px 0 0;
  transition: all .3s;
  background-color: #73d2f0;
  color: #fff;
}

button:hover {
  background-color: #1eb7ee;
  cursor: pointer;
}

button:first-child {
  margin-right: -100px;
}

button:last-child {
  margin-left: -100px;
}

button.active {
  color: #1eb7ee;
  background-color: #fff;
  z-index: 1;
}

button.no-active {
  background-color: #73d2f0;
}

nav {
  margin: 0 auto;
  display: flex;
  color: #fff;
  width: 1121px;
  margin-top: 265px;
}

.active {
  z-index: 1;
  background: #fff;
  color:  #73d2f0;
}

.active:hover {
  background: #fff;
}