.air-table__btn {
  display: flex;
  color: #fff;
}

.air-table__btn button {
  padding: 0;
  font-size: 24px;
  line-height: 60px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 60px 60px 0 0;
  transition: all .3s;
}

.air-svg {
  margin-right: 15px;
  transform: translateY(5px);
}

.air-btn--focus-no {
  background-color: #1eb7ee;
  color: #fff;
  opacity: .5;
}

.air-btn--focus-no:hover {
  opacity: 1;
}

.air-btn--focus {
  color: #1eb7ee;
  background-color: #fff;
  z-index: 1;
}

.air-btn--focus .air-svg--fill {
  fill: #1eb7ee;
}

.air-btn--focus-no .air-svg--fill {
  fill: #fff;
}

.btn-left {
  margin-right: -100px;
}

.btn-right {
  margin-left: -100px;
}
