.flights-body__row {
  height: 70px;
}

.flights-body__row-terminal {
  text-align: center;
  color: green;
  font-weight: 600;
  position: relative;
}

.flights-body__row-terminal p {
  width: 30px;
  height: 30px;
  border: 1px solid green;
  border-radius: 50%;
  line-height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flights-body__row:hover {
  transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


.flights-body__row:nth-child(odd) {
  background-color: #fff;
}


.flights-body__row:nth-child(even) {
  background-color: #e7efec;
}

