.main_wrapper {
  margin: 100px 70px 0;
}

.header_wrapper_section {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.header_wrapper {
  flex-grow: 1;
  border-radius: 80px 80px 0 0;
  text-align: center;
  line-height: 60px;
  background-color:#73d2f0;
  color: #fff;
}

.header_wrapper.arrival {
  text-align: left;
  padding-left: 140px;
}

.header_wrapper svg {
  margin: 0 20px -5px 0;
}

.header_wrapper.departure {
  text-align: right;
  padding-right: 120px; 
}

.header_wrapper.departure:not(.active) {
  padding-right: 160px;
}

.header_wrapper.arrival.active {
  padding-left: 100px;
}

.unactive:hover {
  background-color: #1eb7ee;
}

.active {
  background-color: #fff;
  color: #1eb7ee;
  z-index: 1;
}

.arrival {
  margin-left: -100px;
}

.active svg path {
  fill: #1eb7ee;
  
}
