.current-weather {
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }

  &__weather {
    display: flex;
    justify-content: space-between;
  }

  &__city-name {
    font-size: 2em;
  }

  &__feels {
    text-align: end;
  }

  &-describe {
    font-size: 1.5em;
    color: #556c87;
  }

  &__temperature {
    font-size: 3em;
  }

  &__sun {
    align-self: flex-end;
  }
}
