@import "./src/assets/variables";

.DirectionBtn {
  width: 100%;
  display: flex;
  color: #fff;

  &-AirBtn {
    padding: 10px;
    font-size: 22px;
    line-height: 60px;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 60px 60px 0 0;
    transition: all 0.3s;

    &_focus {
      color: $blue;
      background-color: $bg-light;
      z-index: 1;
    }

    &_focusNo {
      color: #fff;
      background-color: $blue;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    &_departures {
      margin-right: -80px;
    }
    &_arrivals {
      margin-left: -80px;
    }
  }

  &-Svg {
    margin-right: 15px;
    width: 40px;
    height: 28px;
    transform: translateY(5px);
  }
}

@media (max-width: 995px) {
  .DirectionBtn {

    &-AirBtn {
      font-size: 16px;

      &_departures {
        margin-right: -50px;
      }
      &_arrivals {
        margin-left: -50px;
      }
    }

    &-Svg {
      width: 30px;
      height: 21px;
    }
  }
}

@media (max-width: $largestMobileScreen) {
  .DirectionBtn {

    &-AirBtn {
      padding: 0;
      font-size: 14px;

      &_departures {
        margin-right: -20px;
        padding-left: 15px;
        text-align: left;
        border-radius: 0 25px 0 0;
      }

      &_arrivals {
        margin-left: -20px;
        padding-right: 15px;
        text-align: right;
        border-radius: 25px 0 0;
      }
    }
  }
}
