// breakpoints (max-width), (min-width + 1)
$largestMobileScreen: 767px;
$mobileBreakpoint: 991px;
$smallMonitorBreakpoint: 1199px;
$largeMonitorBreakpoint: 1919;

$heightNav: 80px;
$heightFooter: 60px;
$blue: #2185d0;
$bg: #e7efec;
$bg-light: #f9fafb;
$bg-tr: rgba(0,102,135,0.1);
$term-a: #63c745;
$term-d: #1eb7ee;
