.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0)
}

.buttons {
  height: 55px;
}

table {
  width: 100%;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}

.loader {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #e7efec;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-top-color: #1eb8ee;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  z-index: 999;
}

@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}