@import "./src/assets/variables";

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &-Header.header:first-child {
    margin-top: 20px;
  }

  &-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: $heightFooter;
    background-color: #eee;
  }
}
