.time-selectors {
  display: flex;
  flex-direction: row;
  .time-selector__day {
    display: block;
    border: 1px solid black;
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;

    &.active {
      color: red;
    }

    &:hover {
      color: green;
    }
  }
}
